.ms_image-container {
    height: 32px;
}

.ms_image {
    height: 100%;
}

.ms_text-center {
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}

.ms_btn {
    border-radius: 0.3em;
    padding: 0.2em 0.4em;
}


/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #f8f9fa;
}

header .ms_white-bg {
    background-color: #fff;
    height: 100%;
}

header .ms_white-bg > .row {
    height: 100%;
}

.ms_dropdown-toggle::after {
    font-family: "fontawesome";
    content: "\f0f3";
    color: #ff9004;
}

header a {
    color: #5b5858;
}




/* NAV */
nav {
    height: calc(100vh - 80px);
    width: 80px;
    margin-top: 80px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #18162c;
}

nav a {
    color: #fff;
}
.ms_tool {
    margin: 0 1rem 0.5rem;
    padding: 0.3rem 0;
    background-color: none;
    transition: background-color 0.5s ease;
}
.ms_tool:hover {
    background-color: grey;
}

/* MAIN */
main {
    width: calc(100vw - 80px);
    max-height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;
}

.ms_blue-bg {
    background-color: #1b72e8;
    color: #fff;
}

.ms_box {
    border-radius: 0.5em;
    border: 1px solid rgba(143, 143, 143, 0.413);
}

.ms_grey-bg {
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(143, 143, 143, 0.413);
    border-radius: 0.5em 0.5em 0 0;
}

/* TOP MAIN */
.ms_btn-blue {
    border: 1px solid #fff;
    color: #fff;
}
.btn.ms_btn-blue:hover {
    border-color: #fff;
}

/* OFFCANVAS */
.offcanvas.offcanvas-end {
    width: calc(100vw - 80px);
}
/* BREADCRUMB */
.ms_btn-breadcrumb {
    border-radius: 0.7em;
    padding: 0.2em 0.5em;
    background-color: #165bba;
    font-weight: 700;
}

.breadcrumb {
    --bs-breadcrumb-divider-color: #fff;
    --bs-breadcrumb-item-active-color: #fff;
}

.breadcrumb a {
    color: #fff;
}



/* PROSSIME CLASSI */
.ms_wide-col {
    min-width: 40%;
}

.ms_code-symbol {
    display: inline-block;
    width: 21px;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}

.ms_code-symbol img {
    max-width: 100%;
    border-radius: 50%;
}

.ms_btn-green {
    color: #fff;
    background-color: #198754;
}

.ms_btn-red {
    color: #fff;
    background-color: #dc3545;
}

.ms_btn-yellow {
    color: #fff;
    background-color: #ffc107;  
}

.ms_btn-grey {
    color: #6c757d;
    border: 1px solid #6c757d;
    transition: all ease 0.2s;
    padding: 0.4em 0.4em;
}
.ms_btn-grey:hover {
    color: #fff;
    background-color:  #6c757d;
}

/* FAQ */
.accordion {
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-border-radius: none;
}

.ms_accordion-border {
    border: none;
    border-bottom: 1px solid rgba(143, 143, 143, 0.413);
    
}



/* COLS DX */
.ms_internal-box-p {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.ms_inner-box {
    margin: auto;
    border-radius: 0.5em;
    border: 1px solid rgba(143, 143, 143, 0.413);
}

.ms_inner-box > div {
    border-bottom: 1px solid rgba(143, 143, 143, 0.413);
}

.ms_inner-box > div:last-child {
    border-bottom: none;
}

/* UTENTI */
#ms_utenti-link {
    color: #1b72e8;
    text-decoration: underline;
}






/* BREAKPOINT LARGE > */
@media all and (min-width: 992px) {

    /* NAV */
    nav {
        width: 160px;
    }

    nav .ms_text-center {
        text-align: start;
    }

    nav .fa-solid {
        margin-right: 1rem;
    }



    /* MAIN */
    main {
        width: calc(100vw - 160px);
    }

    .offcanvas.offcanvas-end {
        width: calc(50vw - 160px);
    }
}

