.ms_image-container {
    height: 32px;
}
.ms_image {
    height: 100%;
}

.ms_text-center {
    text-align: center;
}



/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #f8f9fa;
}

header .ms_white-bg {
    background-color: #fff;
    height: 100%;
}

header .ms_white-bg > .row {
    height: 100%;
}



/* NAV */
nav {
    height: calc(100vh - 80px);
    width: 80px;
    margin-top: 80px;
    background-color: brown;
}



/* MAIN */
main {
    width: calc(100vw - 80px);
    max-height: calc(100vh - 80px);
    margin-top: 80px;
    background-color: blueviolet;
    overflow-y: auto;
}

.ms_box {
    border-radius: 0.5em;
    /* debug */
    border: 1px solid black;
    height: 300px;
    background-color: chartreuse;
}



/* BREAKPOINT TABLET > */
@media all and (min-width: 768px) {
    nav {
        width: 160px;
    }

    nav .ms_text-center {
        text-align: start;
    }
    main {
        width: calc(100vw - 160px);
    }
}