.ms_image-container {
    height: 32px;
}

.ms_image {
    height: 100%;
}

.ms_text-center {
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}




/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #f8f9fa;
}

header .ms_white-bg {
    background-color: #fff;
    height: 100%;
}

header .ms_white-bg > .row {
    height: 100%;
}

.ms_dropdown-toggle::after {
    font-family: "fontawesome";
    content: "\f0f3";
    color: #ff9004;
}

header a {
    color: #5b5858;
}




/* NAV */
nav {
    height: calc(100vh - 80px);
    width: 80px;
    margin-top: 80px;
    background-image: url(../img/sidebar-bg.png);
    
}

.ms_tool {
    margin: 0 1rem 0.5rem;
    padding: 0.3rem 0;
    background-color: none;
    transition: background-color 0.5s ease;
}
.ms_tool:hover {
    background-color: grey;
}

/* MAIN */
main {
    width: calc(100vw - 80px);
    max-height: calc(100vh - 80px);
    margin-top: 80px;
    background-color: blueviolet;
    overflow-y: auto;
}

.ms_blue-bg {
    background-color: #1b72e8;
    color: #fff;
}
.ms_box {
    border-radius: 0.5em;
    /* debug */
    border: 1px solid black;
    height: 300px;
    background-color: chartreuse;
}



/* BREAKPOINT TABLET > */
@media all and (min-width: 768px) {

    /* NAV */
    nav {
        width: 160px;
    }

    nav .ms_text-center {
        text-align: start;
    }

    nav .fa-solid {
        margin-right: 1rem;
    }



    /* MAIN */
    main {
        width: calc(100vw - 160px);
    }
}